h1{
    font-family: 'Helvetica Neue';
    font-weight: 800;
    font-size: 24px;
}
span.bolt{
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 18px;
}
.text{
    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 18px;
}
.light{
    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 23.5px;
}
.hidden-xs{
    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 18px;
}
.border{
     background: url(/../catalog/view/theme/default/image/2.png) center no-repeat;
     min-height: 198px;
     background-size: cover;
     margin: -15px 0 0 0;
}
.zal{
     font-family: 'Helvetica Neue';
     font-weight: 400;
     font-size: 20px;
     text-align: center;
     top: -7px;
     margin: 40px 0 0 0;

 }
.text-zal{
    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 16px;
    text-align: left;
}
h3{
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 20px;
}
.text-od{
    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 16px;
}
.text-end{
    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 18px;
    color: #000000;
}
h2{
    font-family: 'Helvetica Neue';
    font-weight: 700;
    font-size: 24px;
}
.text-fut{
    font-family: 'Helvetica Neue';
    font-weight: 800;
    font-size: 24px;
    margin: 90px 0 0 120px;
}